.product-skus {
  min-width: 600px;
}

.product-skus .sku-control-form-group {
  margin-bottom: 0;
}

.product-skus .form-group {
  margin-left: 0;
}

.product-skus .form-group .select2-chosen, .form-group .select2-choice > span:first-child {
  padding: 7px 11px;
}

.product-skus .sku-name {
  float: left;
  width: 106px;
}

.product-skus .sku-attrs {
  float: left;
  width: 250px;
}

.sku-table-form-group {
  margin-bottom: 0;
}

.sku-table {
  margin-bottom: 0;
}

.sku-table input[type=text] {
  width: 100px;
  text-align: center;
}

.sku-table thead tr th, .sku-table tbody tr td {
  text-align: center;
  vertical-align: middle;
}

.delete-sku {
  display: none;
}

.sku-control:hover .delete-sku {
  display: inline;
}

.virtual + a {
  display: none;
}

.virtual:checked + a {
  display: inline;
}
